@import "../../../../../assets/styles/variables";

.chips {
  padding: 1rem;
  border: 1px solid $grey-3;
  border-radius: 8px;
  background-color: $white;
  box-shadow: $box-shadow-1;
  font-size: 0.5rem;

  &__item {
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    height: 28px;
    border: 1px solid $grey-3;
  }
}

