<section class="hero">
    <!--    <img class="hero__img" src="./assets/images/car.png" width="800"/>-->
    <app-hero></app-hero>
</section>

<!--<section class="calculator">-->
<!--    <app-calculator></app-calculator>-->
<!--</section>-->
<section class="how-it-works">
    <app-how-it-works></app-how-it-works>
</section>
<section class="teaser-carousel">
    <app-teaser-carousel></app-teaser-carousel>
</section>
<section class="general-questions">
    <app-general-questions></app-general-questions>
</section>
