<div class="social-network flex flex--justify-between flex--gap-1rem">
    <button class="social-network__block network-item flex flex--gap-1rem flex--align-center"
            mat-stroked-button>
        <img alt="Google Icon"
             height="25"
             src="../../../../../assets/icons/google.png"
             width="25"/>
        <p class="network-item__text">{{ title }} with Google</p>
    </button>
    <button class="social-network__block network-item flex flex--gap-1rem flex--align-center"
            mat-stroked-button>
        <img alt="Facebook Icon"
             height="25"
             src="../../../../../assets/icons/facebook.png"
             width="25"/>
        <p class="network-item__text">{{ title }} with Facebook</p>
    </button>
</div>
